body {
    background: #fff;
}
/* 
.wy-side-nav-search {
    background-color: #fff;
}

.wy-side-nav-search input[type=text] {
    border: none;
} */

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: inherit;
}

/* .wy-nav-side {
    background: #f3f4f7;
}
*/
@media screen and (min-width: 1100px) {
    .wy-nav-content-wrap {
        background:#fff;
    }

    .wy-nav-content {
        background: #fff;
    }
} 

.img-border {
    border: 1px solid black;
}